/* All styles for your header Components live here */
.headerContainer{
    width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 35px;
}
.header{
    display: flex;
    flex-direction: column; 
}
.headerTitle {
    display: flex;
    align-items: center;  
    
}

img {
    
    width: 40px; 
    height: 40px;
}

.contentHeader{
    
    width: 650px;
    justify-content: center;
    
}